<a href="/person/index">List</a>
<h2>Person Create form</h2>
<form action="/person/create" method="POST">
 <table>

 <tr><td>Name<td><input type="text" name="Person[personName]" ><br/>
 <tr><td>Address<td><input type="text" name="Person[personAddress]" >
 <tr><td>Cnic<td><input type="text" name="Person[personCnic]" >
 <tr><td>Contact<td><input type="text" name="Person[personContact]" >
 <tr ><td><td><input type="submit" value="ADD">
</form>
