<a href="/accounts/index">List</a>
<h2>Account Create form</h2>
<form action="/accounts/create" method="POST">
 <table>

 <tr><td>Account name<td><input type="text" name="Account[accountName]" ><br/>
 <tr><td>Account password<td><input type="text" name="Account[accountPassword]" >
 <tr><td>Person id<td><input type="text" name="Account[personId]" >
 <tr><td>Role id<td><input type="text" name="Account[roleId]" >
 <tr ><td><td><input type="submit" value="ADD">
</form>
